<div id="signalparams col">
	<!--
	<div id="waveform">
		<p> Wave Display </p>
		<canvas id='wavedisplay'> </canvas>
	</div> -->
	<div id="spectro">
		<p> Spectrogram </p>
		<!-- Using open source library using d3: https://github.com/miguelmota/spectrogram -->
		<canvas id="spectrogram"></canvas>
	</div>
	<div id="voice-quality">
	</div>
</div>

<div id="bioparams col">
	<div id="3dframe">
	</div>

	<div id="face">
	</div>

	<div id="persona">
	</div>

	<div id="health">
	</div>
</div>

<div id="culturalparams col">
	<div id="ethnicity">
	</div>

	<div id="environment">
	</div>

	<div id="facetype">
	</div>
</div>